!!!
%html
  %head
    %meta{charset: "utf-8"}

    / Always force latest IE rendering engine or request Chrome Frame
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}

    / Use title if it's in the page YAML frontmatter
    %title= current_page.data.title || "CranberryChic"

    = stylesheet_link_tag "boostrap", "customs"

  %body
    = yield

    %script{src: "https://code.jquery.com/jquery-1.10.2.min.js"}
    = javascript_include_tag  "boostrap", "holder"
