.benefit
  %h2
    IT
    %span.text-primary GIRL
  %p
    Las it girls son usuarias
    seleccionadas por el staff de cranberrychic por ser un ícono en la moda, tener muchas seguidoras y subir muchos looks de calidad.
  .benefit-list
    .row
      .benefit-item.col-sm-6.col-md-4
        %img{alt: "...", src: "holder.js/290x50/#FFF:#E8DFE1/text:LOGO"}
        %a{href: "#"} 30% de descuento
      .benefit-item.col-sm-6.col-md-4
        %img{alt: "...", src: "holder.js/290x50/#FFF:#E8DFE1/text:LOGO"}
        %a{href: "#"} 25% de descuento para manos
      .benefit-item.col-sm-6.col-md-4
        %img{alt: "...", src: "holder.js/290x50/#FFF:#E8DFE1/text:LOGO"}
        %a{href: "#"} 30% de descuento
  %a.btn.btn-primary{href: "#"} Ver toddos los beneficios
  %hr