.navbar-header
  %button.navbar-toggle{"data-target" => ".bs-navbar-collapse", "data-toggle" => "collapse", type: "button"}
    %span.sr-only Toggle navigation
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
  %a.navbar-brand{href: "#"} CRANBERRYCHIC
-#%form.navbar-form.navbar-left{role: "search"}
-#  .form-group
-#    %input.form-control{placeholder: "Search", type: "text"}
%nav.collapse.navbar-collapse.bs-navbar-collapse.pull-right{role: "navigation"}
  %ul.nav.navbar-nav
    %li
      %a{href: "#"} Inicio
    %li
      %a{href: "#"} Descubre
    %li
      %a{href: "#"} Magazine

  %ul.nav.navbar-nav
    %li.navbar-user.dropdown
      %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
        %span Cristian Ferrari
        %img.img-circle{alt: "...", src: "http://tiny.cc/cbc-avatar"}
        %b.caret
      %ul.dropdown-menu.pull-right
        %li
          %a{href: "#"}
            %i.icon-fw.icon-envelope
            Conversaciones
        %li
          %a{href: "#"}
            %i.icon-fw.icon-bell
            Notificaciones
        %li
          %a{href: "#"}
            %i.icon-fw.icon-cog
            Configuracion
        %li.divider
        %li
          %a{href: "#"}
            %i.icon-fw.icon-sign-out
            Salir