.publication
  .publication-header
    %span.meta
      %i.icon-clock-o
      2 min
    %img.img-avatar.img-circle{alt: "...", src: "http://tiny.cc/cbc-avatar"}
    %h4
      %a{href: "#"} Daniela Castro
    %span.text-muted Publico algo que le gusta

  .publication-body
    .publication-body-overlay
    .publication-body-image
      %img.img-responsive-to-full{src: "http://tiny.cc/cbc-publication-1"}
  .publication-footer
    -#%p
    -#  A
    -#  %a{href: "#"} 16 personas les gusta
    -#  esto y
    -#  %a{href: "#"} 3 lo quieren

    %a.btn.btn-default.btn-small{href: "#"}
      %i.icon-heart-o
      Me gusta (25)
    %a.btn.btn-default.btn-small{href: "#"}
      %i.icon-search
      Lo busco (6)
    %a.btn.btn-default.btn-small{href: "#"}
      %i.icon-comment-o
      Comentar (12)
    %a.btn.btn-default.btn-small.pull-right{href: "#"}
      - 3.times do
        %i.icon-circle-o

