---
title: Beneficios
---
:css
  /* NO INCLUIR ESTO */
  .benefit-item img {
    width: 100% !important;
    height: auto !important;
  }

.container

  = partial "partials/benefit"

  .benefit
    %h2
      SUPER
      %span.text-primary CRANBERRYCHIC
    %p Las super cranberrychic son usuarias que tienen mucha actividad en el sitio y por lo tanto están dentro del 10% de las usuarias con más seguidoras, este estado se re calcula una vez al mes.
    .benefit-list
      .row
        .benefit-item.col-sm-6.col-md-4
          %img.img-responsive-to-full{alt: "...", src: "holder.js/290x50/#FFF:#E8DFE1/text:LOGO"}
          %a{href: "#"} 30% de descuento
        .benefit-item.col-sm-6.col-md-4
          %img.img-responsive-to-full{alt: "...", src: "holder.js/290x50/#FFF:#E8DFE1/text:LOGO"}
          %a{href: "#"} 25% de descuento para manos
        .benefit-item.col-sm-6.col-md-4
          %img.img-responsive-to-full{alt: "...", src: "holder.js/290x50/#FFF:#E8DFE1/text:LOGO"}
          %a{href: "#"} 30% de descuento
    %a.btn.btn-primary{href: "#"} Ver toddos los beneficios
    %hr

  .benefit
    %h2
      CRANBERRY
      %span.text-primary CHIC
    %p Las super cranberrychic son usuarias que tienen mucha actividad en el sitio y por lo tanto están dentro del 10% de las usuarias con más seguidoras, este estado se re calcula una vez al mes.
    .benefit-list
      .row
        .benefit-item.col-sm-6.col-md-4
          %img.img-responsive-to-full{alt: "...", src: "holder.js/290x50/#FFF:#E8DFE1/text:LOGO"}
          %a{href: "#"} 30% de descuento
        .benefit-item.col-sm-6.col-md-4
          %img.img-responsive-to-full{alt: "...", src: "holder.js/290x50/#FFF:#E8DFE1/text:LOGO"}
          %a{href: "#"} 25% de descuento para manos
        .benefit-item.col-sm-6.col-md-4
          %img.img-responsive-to-full{alt: "...", src: "holder.js/290x50/#FFF:#E8DFE1/text:LOGO"}
          %a{href: "#"} 30% de descuento
    %a.btn.btn-primary{href: "#"} Ver toddos los beneficios
    %hr