---
title: Home
---

%header.navbar.navbar-default.navbar-fixed-top{role: "banner"}
  .container
    = partial "partials/header"


%section.jumbotron
  .container
    = partial "partials/new-publication"

%main
  .container
    .row
      %section.col-md-8
        .activity
          = partial "partials/publication"

      %aside.col-md-4 s

