// HEADER

$navbar-brand-image: 'cranberrychic-logo-header.png';

.navbar {
  border-top: 4px solid $brand-primary;
}

.navbar-brand {
  width: image-width($navbar-brand-image) + ($navbar-padding-horizontal * 2);
  height: $navbar-height;
  background: transparent image-url($navbar-brand-image) center center no-repeat;
  @include text-hide;
}

.navbar-user {
  border-style: solid;
  border-color: lighten($navbar-default-border,5%);
  border-width: 0 1px;
  .dropdown-menu > li > a {
    padding-top: 10px;    // Overwritten by not having variable.
    padding-bottom: 10px; // Overwritten by not having variable.
  }
  //a:hover { background-color: lighten($brand-primary,42%) !important; }
  img {
    margin-left: 5px;
    height: 40px;
    width:  40px;
  }
  i {
    float: right;
    margin-left: 15px;
    line-height: $line-height-base;
  }
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 0;    // Overwritten by not having variable.
    padding-bottom: 0; // Overwritten by not having variable.
    line-height: $navbar-height;
  }
}