// HEADER

$publication-img-shadow: 0 1px 0 rgba(0,0,0,.1) inset, 0 -1px 0 rgba(0,0,0,.1) inset;

.publication {
  background-color: $ui-panel-bg;
  border: $ui-base-border;
  margin-bottom: 50px;
}
.publication-header,
.publication-footer {
  padding: $half-gutter;
  overflow: hidden;
}
.publication-header {
  img {
    float: left;
    margin-right: $half-gutter;
  }
  h4 {
    margin-bottom: 4px;
    margin-top: 6px;
  }
  .meta {
    position: relative;
    float: right;
    top: 16px;
    right: 4px;
  }
}

.publication-body  {
  position: relative;
  z-index: 1;
  img {
    position: relative;
    z-index: -1;
  }
}

.publication-body-image  {
          box-shadow: $publication-img-shadow;
  -webkit-box-shadow: $publication-img-shadow;
     -moz-box-shadow: $publication-img-shadow;
}
