// SCAFFOLD
$gutter:      $grid-gutter-width;
$half-gutter: $gutter / 2;

body {
  padding-top: $navbar-height + $gutter;
}

a:hover {
  text-decoration: none;
}


.img-responsive-to-full {
  display: block;
  width: 100%;
  height: auto;
}

.img-avatar {
  height: 50px;
  width: 50px;
}

.btn-secondary {
  @include button-variant($ui-btn-secondary-color, $ui-btn-secondary-bg, $ui-btn-secondary-border);
}